@tailwind base;
@tailwind components;
@tailwind utilities;

.ReactModal__Overlay {
    background-color: rgba(0, 0, 0, 0.75);
  }
  
  .ReactModal__Content {
    max-width: 500px;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
  }
  